
@{
    ViewData["Title"] = "Index";
}

<h2>Tipuri de statistici</h2>

<div>
    <a asp-action="CititoriPerioada">Cititorii dintr-o perioada</a>
</div>
<div>
    <a asp-action="CartiSolicitate">Cele mai solicitate carti</a>
</div>
<div>
    <a asp-action="AutoriCautati">Cei mai cautati autori</a>
</div>
<div>
    <a asp-action="GenuriSolicitate">Cele mai solicitate genuri</a>
</div>
<div>
    <a asp-action="AlegereCarte">Cauta Review</a>
</div>

